*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html, body {
    min-height: 100%;
}

body{
	/*background:linear-gradient(black,white);*/
	background:black;
}

.banner{
/*	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(./assets/background.png);*/
	background-size: cover;
	background-position: center;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 120px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;

}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.content{
	width: 100%;
/*	position: absolute;*/
/*	top: 50%;*/
	transform: translateY(30%);
	text-align: center;
	color: #fff;
/*	margin-top: 20px;*/
}

.content h1{
	font-size: 70px;
	margin-top: 80px;
}

.content h2{
	position: flex;
	font-size: 50px;
	margin-top: 20px;
}

.content p{
	position: flex;
	margin: 20px auto;
	font-weight: 100;
	line-height: 50px;
	font-size: 20px;
}

.content button{
	position: flex;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid  #009688;
	background: transparent;
	color:#fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-size: 20px;
}

span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.content button:hover span{
	width: 100%;
}

.content button:hover{
	border: none;
}

.contact{
	width: 80%;
	margin:30px auto;
}

.contact h1{
	color:white;
	margin-bottom: 5px;
}

.contact h3{
	color:white;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact p{
	color:white;
	margin-bottom: 5px;
}

.contact-box{
	background:transparent;
	display: flex;
}

.contact-left{
	flex-basis:50%;
	padding: 40px 60px;
	background:transparent;
	border-right:1px solid white;
}

.contact-right{
	flex-basis:40%;
	padding: 40px;
	background:transparent;
	border-left:1px solid white;
}

.input-row{
	display:flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group{
	flex-basis: 30%
}

.input-group input[type="text"]{
	width: 100%;
	background: transparent;
    border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}

.input-group input::placeholder{
	color: #ccc;
	opacity: 1; 
}

textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding:10px;
}
.contact label{
	margin-bottom: 6px;
	display: block;
	color:white;
}

.contact button{
	background: #009688;
	width: 100px;
	border: none;
	outline: none;
	color:#fff;
	height: 20px;
	border-radius: 20px;
	margin-top:10px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

tr td:first-child{
	padding-right: 20px;
}

tr td{
	padding-top: 20px;
	color:white;
}

.about{
	width:100%;
	padding:78px 0px;
	background-color: transparent;
}

.about img{
	height: auto;
	width: 60%;
}

.main{
	width: 1130px;
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.text{
	width: 550px;
}

.about h1{
	color:white;
	font-size: 40px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about h4{
	color:white;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.about span{
	color:#009688;
}

.about p{
	color:white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.about button{
	position: flex;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 0px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid  #009688;
	background: transparent;
	color:#fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-size: 20px;
}

.about button:hover span{
	width: 100%;
}

.about button:hover{
	border: none;
}